@font-face {
    font-family: 'Kanva';
      src: url('../fonts/logo_original.otf');
      src: url('../fonts/logo_original.otf') format('embedded-opentype')
  }
a{
    text-decoration: none;
}
p{
    margin: 0;
}
.row{
    height: 100vh; 
    align-items: flex-end;
    justify-content: center;
}
.kanva{
    width: 100vw;
    height: 100vh;
    background-image: url('../img/taplink/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.kanva-logo{
    text-align: center;
    margin-top: 30px;

}
.kanva-logo h1{
    font-family: 'Kanva';
    color: #ECB158;
    font-size: 80px;
    margin: 0;
}
.kanva-minor{
    text-align: center;
}
.kanva-logo__image{
    width: 300px;
    height: 86px;
}
.kanva-minor p{
    margin-top: 20px;
    color: #fff;
    font-size: 24px;
    font-family: 'PT Serif', serif;
    font-weight: 700;
}
.kanva-buttons a{
    font-family: 'Montserrat';
    text-align: center;
    display: flex;
    color: #fff;
    background: #000;
    padding: 16px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 2px solid #fff;
}
.kanva-buttons span{
    font-weight: 700;
}

.kanva-buttons img{
    min-width: 30px;
    height: 30px;
    margin-right: 20px;
}
.kanva-buttons__ios{
    margin-top: 20px;
    margin-bottom: 50px;
}

